::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset #32b9a9;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #32b9a9;
}
